@font-face {
  font-family: "Muro";
  src: url("../fonts/muro-webfont.woff2") format("woff2"), url("../fonts/muro-webfont.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
body {
  font-family: "Muro", sans-serif;
  letter-spacing: 0.1em;
  font-weight: 200;
  color: #ffffff;
}

a {
  color: #28a745;
  text-decoration: underline;
}

.index-body {
  background: linear-gradient(rgba(157, 157, 157, 0.8), rgba(157, 157, 157, 0.8)), url("/img/index-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
}

.signature {
  margin: 20px;
}

.index-title-container {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(3deg);
  background-color: #3F270E;
  text-align: center;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
}

.index-title-post {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  height: 24%;
  width: 2.5%;
  background-color: #3F270E;
}

.index-title {
  font-size: 3rem;
  color: #ffffff;
  line-height: 0.5;
  letter-spacing: 0.1em;
}

.topbar {
  display: flex; /* Enables Flexbox */
  flex-direction: row; /* Aligns children elements in a row */
  justify-content: space-between; /* Spaces the children elements evenly, pushing them to the edge of the parent container */
}

.topbar a {
  text-align: center; /* Centers text */
}

.login-button {
  background: linear-gradient(0deg, #238B22 0%, #33CD32 100%);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: 900;
}

.settings-button {
  background: linear-gradient(0deg, #238B22 0%, #33CD32 100%);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 6px;
  margin: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}

.settings-image {
  height: 1.45em; /* Adjusts the image height to scale with the font size */
  width: auto; /* Keeps the image aspect ratio */
  vertical-align: middle; /* Helps align the image vertically inside the button */
}

.main-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}

.main-button {
  display: inline-block;
  position: relative;
  background: linear-gradient(0deg, #238B22 0%, #33CD32 100%);
  color: #ffffff;
  border: 7px solid black;
  border-radius: 100%;
  padding: 3%;
  margin: 5%;
}

.main-button-image {
  height: 6em;
  width: auto;
  vertical-align: middle;
}

.login-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.login-popup-content {
  position: relative;
  background-color: #1A3A5F;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  width: 30%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.register-popup-content {
  position: relative;
  background-color: #1A3A5F;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  width: 30%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.login-popup-header {
  margin: 0;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  color: #ffffff;
  background: #238B22;
  height: 40px;
}

.login-form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form label {
  color: #ffffff;
  font-size: 16px;
  margin: 6px 0;
}

.login-form input {
  width: 55%;
  font-size: 18px;
  padding: 2.5px 0px;
  margin: 6px 0;
  border: 1px solid #ffffff;
  border-radius: 50px;
}

.login-form button {
  width: 55%;
  padding: 10px;
  margin: 10px 0;
  margin-top: 30px;
  border-radius: 50px;
  background: linear-gradient(0deg, #1B6B1A, #31C930);
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

.login-form button:hover {
  background: linear-gradient(0deg, #114210, #27a026);
}

.login-title {
  color: #ffffff;
  font-size: 30px;
  margin: 0;
  text-align: center;
}

.login-change {
  color: #ffffff;
  font-size: 20px;
  margin: 10px 0;
  cursor: pointer;
  background: none;
  border: none;
  color: #28a745;
  text-decoration: underline;
}

.login-change:hover {
  color: #1e7e34;
}

.close {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 50px;
  color: #ffffff;
  cursor: pointer;
}

.hidden {
  display: none;
}

.level-menu-container {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%); /* Center the div horizontally */
  background-color: #1A3A5F;
  border-radius: 30px;
  width: 90%;
  height: 95%;
  overflow: hidden;
}

.level-menu-header {
  margin: 0;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  color: #ffffff;
  background: #238B22;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.world-arrow {
  background: none;
  border: none;
  padding: 40px;
}

.world-arrow img {
  width: 30px;
}

.world-arrow :hover {
  cursor: pointer;
  filter: brightness(0.8);
}

.disabled {
  filter: brightness(0.5);
}

.level-container {
  /* organize items into rows of 3 */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
  padding-bottom: 10%;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #28a745;
  border-radius: 6px;
  border: 2px solid #1A3A5F;
}

::-webkit-scrollbar-track {
  background: #000f64;
  border-radius: 6px;
}

/*# sourceMappingURL=globals.css.map */
