


.index-body {
  background: linear-gradient(rgba(157, 157, 157, 0.8), rgba(157, 157, 157, 0.8)), url('/img/index-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
}

// the below code is for the tilted title sign
.index-title-container {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(3deg);
  background-color: $sign-color;
  text-align: center;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
}

.index-title-post { // a post coming down from the top that "holds" the sign
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  height: 20%;
  width: 40px;
  background-color: $sign-color;
}

.index-title {
  font-size: 3rem;
  color: $text-color;
  line-height: 0.5;
  letter-spacing: 0.1em;
}

// the content of the page
.topbar {
  display: flex; /* Enables Flexbox */
  flex-direction: row; /* Aligns children elements in a row */
  justify-content: space-between; /* Spaces the children elements evenly, pushing them to the edge of the parent container */
}

.topbar a {
  text-align: center; /* Centers text */
}

.login-button {
  background: linear-gradient(0deg, #238B22 0%, #33CD32 100%);
  color: $text-color;
  border: none;
  border-radius: 5px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: 900;
}

.settings-button {
  background: linear-gradient(0deg, #238B22 0%, #33CD32 100%);
  color: $text-color;
  border: none;
  border-radius: 5px;
  padding: 6px;
  margin: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}


.settings-image {
  height: 1.45em; /* Adjusts the image height to scale with the font size */
  width: auto; /* Keeps the image aspect ratio */
  vertical-align: middle; /* Helps align the image vertically inside the button */
}

// this contains the 3 large buttons on the index page
.main-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}

.main-button {
  display: inline-block; // Add this line
  position: relative;
  background: linear-gradient(0deg, #238B22 0%, #33CD32 100%);
  color: $text-color;
  border: 7px solid black; // Add this line
  border-radius: 100%;
  padding: 3%;
  margin: 5%;
}

.main-button-image {
  height: 6em;
  width: auto;
  vertical-align: middle;
}