body{
    background-image: url('/img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* make the background darker */
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -1;
}

@keyframes drop {
    0% { 
        transform: translateY(-100%);
    }
    75% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0%);
    }
}

.container {
    /* center the container */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* make the container full screen */
    height: 100vh;
    width: 100vw;
    /* animation to drop down from top */
    animation: drop 1.25s ease-in-out;
}

h1 {
    /* very large, centered, and with a drop shadow */
    font-size: 80px;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    margin-top: 50px;
    margin-bottom: 50px;
}
   
a {
    font-size: 60px;
    /* style the link to look like a button */
    display: inline-block;
    padding: 20px 40px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}

