.level-menu-container {
    position: absolute;
    top: 5%; 
    left: 50%;
    transform: translateX(-50%); /* Center the div horizontally */
    background-color: $ui-background-color;
    border-radius: 30px;
    width: 90%;
    height: 95%;
    overflow: hidden;
}

.level-menu-header {
    margin: 0;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    color: $text-color;
    background: #238B22;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.world-arrow {
    background: none;
    border: none;
    padding: 40px;
}

.world-arrow img {
    width: 30px;
}

.return-arrow {
    position: absolute;
    left: 0;
    top: 0;
    background: none;
    border: none;
    padding: 20px;
    display: flex;
    flex-direction: row;
    color: white;
}

.return-arrow img {
    width: 30px;
    padding-right: 20px;
}


.world-arrow :hover {
    cursor: pointer;
    filter: brightness(0.8);
}

.return-arrow :hover {
    cursor: pointer;
    filter: brightness(0.8);
}

.disabled {
    // if disabled, darken the image within the button
    filter: brightness(0.5);
}

.level-container {
    /* organize items into rows of 3 */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    padding-bottom: 10%;
    overflow: auto;
}

// customize the scroll bar of the level menu
.level-menu-container::-webkit-scrollbar {
    // border-radius: 10px;
}

::-webkit-scrollbar {
    width: 20px;
    
}

::-webkit-scrollbar-thumb {
    background-color: $action-color;
    border-radius: 6px;
    border: 2px solid $ui-background-color;
}

::-webkit-scrollbar-track {
    background: #000f64;
    border-radius: 6px;
}


