.back-button {
    position: absolute;
    left: 10px;
    top: 15px;
    background: linear-gradient(0deg, #238B22 0%, #33CD32 100%);
    padding: 50px;
    border-radius: 100%;
    border-width: 5px;
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.back-button:hover {
    background: linear-gradient(0deg, #33CD32 100%, #238B22 0%);

}

.level-ui-back-arrow {
    position: absolute;
    font-size: 50px;
    width: 30px;
}

.toast-game-over {
    background: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    color: #ffffff;
    opacity: 0.8;
    border-radius: 10px;
    cursor: pointer;
}

.tutorial-text {
    position: absolute;
    top: 10px;
    left: 150px;
    padding: 20px;
    background-color: rgba(92, 116, 142, 0.5);
    border-radius: 10px;
    max-width: 60%;
    @media (max-width: 768px) {
        font-size: 0.5em;
    }
}

.stat-container {
    position: absolute;
    top: 10px;
    right: 40px;
    padding: 20px;
    background-color: rgba(92, 116, 142, 0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center items horizontally */
    
}

.stat-container h1 {
    margin: 0;
    padding: 0;
    font-size: 2.5em;
}