.settings-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.settings-popup-content {
    position: relative;
    background-color: $ui-background-color;
    // padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    width: 30%;
    // min-height: 60%; 
    overflow: hidden;
    // center content
    display: flex;
    flex-direction: column;
}

.tutorial-popup-content {
    position: relative;
    background-color: #245081;
    // padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.8);
    width: 100%;
    // min-height: 60%; 
    overflow: hidden;
    // center content
    display: flex;
    flex-direction: column;
}



.help-popup-content {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    background-color: $ui-background-color;
    // padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    width: 60%;

    // center content
    display: flex;
    flex-direction: column;
    max-height: 90%;
    overflow-y: scroll;
}


.settings-popup-header {
    margin: 0;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    color: $text-color;
    background: #238B22;
    height: 40px;
}

.settings-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.settings-option {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.settings-content label {
    color: $text-color;
    font-size: 16px;
    margin: 6px 0;
}

.settings-content input {
    width: 100%;
    font-size: 18px;
    padding: 2.5px 0px;
    margin: 6px 0;
    border: 1px solid $text-color;
    border-radius: 50px;
}


.settings-title {
    color: $text-color;
    font-size: 30px;
    margin: 0;
    // padding: 20px;
    text-align: center;
}

.close {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 50px;
    color: $text-color;
    cursor: pointer;
}

.hidden {
    display: none;
}


@media screen and (max-width: 768px) {
    .settings-popup-content {
        width: 70%;
        margin: 2px;
        max-height: 90%;
        overflow: scroll;
    }

    .help-popup-content {
        width: 90%;
        margin: 2px;
        max-height: 90%;
        overflow: scroll;
    }

    .settings-form input {
        width: 75%;
        margin: 2px;
    }

    .settings-form button {
        width: 30%;
        margin: 15px;
    }

    .settings-form .suggestion-text {
        width: 85%;
        margin: 2px;
    }
    // smaller font size for smaller screens
    .settings-form label {
        font-size: 14px;
        margin: 2px;
    }

    .settings-form input {
        font-size: 16px;
        margin: 2px;
    }

    .settings-form button {
        font-size: 14px;
        margin: 2px;
    }

    .settings-form .suggestion-text {
        font-size: 16px;
        margin: 2px;
    }

    .settings-title {
        font-size: 24px;
        margin: 2px;
    }

    .settings-change {
        font-size: 16px;
        margin: 2px;
    }

    .close {
        font-size: 40px;
        margin: 2px;
    }

}